@import url('https://fonts.googleapis.com/css?family=ABeeZee|Mukta|Oxygen|Cardo');

main{
  margin-top: 20px;
}

body {
  margin:0;
}

h2{
  font-family: 'Mukta', sans-serif;
}

hr {
  width:80%;
}

.headerLine {
  width: 250px;
  margin-bottom: .5em;
}

.headerline .top {
  margin-bottom: -1em;
}

p {
  font-family: 'Cardo', serif;
}

a, li:hover {
  cursor: pointer;
}

#name{
  display:inline-block;
  vertical-align:middle;
  font-size: 24px;
  padding-left: 5px;
  font-family: 'Oxygen', sans-serif;
}

.main-content{
  display:block;
}

.main-content h2 {
  text-align:center;
}
