.sidenav {
  width: 100%;
  padding-left:15px;
  background-color: #7acfdf;
  z-index: 100;
}

.sidenav ul {
  display: none;
}

.sidenav:hover ul{
  display:block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  background-color: #f47645;
  height: 50px;
  text-align:center;
  z-index: 100;
  display:inline-block;
}

#footerBuffer {
  height: 50px;
}
