@import url('https://fonts.googleapis.com/css?family=ABeeZee|Mukta|Oxygen|Cardo');

body {
  margin:0;
}

h2{
  font-family: 'Mukta', sans-serif;
  margin: 0;
  display: flex;
  text-align: center;
  align-items: center;
}

hr {
  width:80%;
}

.sideLine {
  margin:0 0 1em;
  line-height:2em;
  padding:0;
  position:relative;
  overflow:hidden;
  text-align:center;
}

.sideLine:before, .sideLine:after {
  content:" ";
  height:2px;
  width:998em;
  border-top:1px solid black;
  margin: 0 0.75em;
}

.sideLine:after{
  left:auto;
  width:999em;
  margin:0 0 0 1em;
}

p {
  font-family: 'Cardo', serif;
}

a, li:hover {
  cursor: pointer;
}

#name{
  display:inline-block;
  vertical-align:middle;
  font-size: 24px;
  padding-left: 5px;
  font-family: 'Oxygen', sans-serif;
}

.main-content{
  display:block;
}

.main-content h2 {
  text-align:center;
}

tab-content {
  transition: all 2s;

}
