#home, #about, #contact {
  margin-left: 10px;
  margin-right: 10px;
}

.sidenav {
  width: 100%;
  padding-left:15px;
  background-color: #7acfdf;
  z-index: 100;
}

.sidenav ul {
  display: none;
  font-family: 'ABeeZee', sans-serif;
  list-style: none;
  padding:0;
  margin:0;
}

.sidenav li {
  display:inline;
  /* border:solid;
  border-width: 1px 1px 0 1px; */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 5px 0px 0 0px;
  padding-left:25px;
  padding-right:25px;
}

.selected{
  background-color: white;
}


#aboutZone{
  min-height:200px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  background-color: #f47645;
  height: 50px;
  text-align:center;
  z-index: 100;
  display:inline-block;
}

#footerBuffer {
  height: 50px;
}
