.material-icons {
  display:inline;
  float:right;
  padding-right:.75em;
  font-size:50px;
}

#mugshot {
  float:right;
  border-radius: 50%;
  height: 200px;
  vertical-align: middle;
}

.icon {
  height: 40px;
}

#meIcon {
  border-radius:100%;
  vertical-align:middle;
  height: 50px;
  transition: height .5s;
}

#aboutZone li{
  border-color: #f47645;
  border-style: solid;
  max-width: 400px;
  border-radius: 25px;
}

#aboutZone a{
  text-decoration: none;
  color: #87BF7C;
}

#aboutZone a:visited{
  color: #87BF7C;
}

#aboutZone a:hover{
  color: #9DDD90;
}

.repoTitle{
  border-bottom: #f47645 solid;
}

#aboutZone ul{
  list-style-type: none;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}

#aboutZone p{
  padding-left: 20px;
  font-weight: bold;
}

#intro a{
  color: #ACF39D;
}

.project {
  position: relative;
  text-align: center;
  border-radius: 50%;
  width: 75%;
  display:block;

  /* background-color: red; */


}

.project img {
  max-width:55%;
  transition: height width .75s;
  display:block;
  margin:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project:hover{
  cursor: pointer;
}


.project img{
  position: unset;
  transform: none;

  /* position: absolute;
  transform: translate(-50%, -50%); */

}

#imageWrapper{
  /* display:block; */

  width: calc(100% - 60px);
  /* padding-bottom: calc(50% - 60px); */
  /* height: 0; */
  display: inline-block;
   padding-right: 35px;

}

.project h3{
  font-size: 2em;
  position: absolute;
  top: 8px;
  left: 8px;
  background-color:white;
  transition: top left, .5s
}

.project h4{
  position: absolute;
  top: 66px;
  background-color: white;
  left: 100px;
}

.projectTitle{
  display: block;
  text-align: center;
  padding-left: 50px;
}

#project-pop{
  display: none;
  position: fixed;
  background-color: #DFF8FC;
  left: 10%;
  top: 15%;
  width: 80%;
  max-width: 600px;
  height: 70%;
  z-index: 999;
  border-radius: 25px;
  border-style: solid;
  border-color: #9DDD90;
  border-width: 5px;
  transition: left 1s linear;
  padding:20px;
}

#project-pop h1{
  text-align: center;
}

#pop-close {
  background-color: #7acfdf;
  border-radius: 25px;
  padding: 8px;
  float:right;
  position: absolute;
  right: -10px;
  top: -10px;
}

#pop-close:hover {
  font-color: orange;
  background-color: #9DDD90;
  cursor: pointer;
  padding: 9px;
}

input, textarea {
  width: 90%;
  border-radius: 25px;
  background-color: #7acfdf;
  color: white;
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
  border: 3px solid #7acfdf;
  padding: 8px;
  margin-left: 8px;
}

input, textarea:focus {
  outline-width:0;
}


#contact-form {
  display: flex-box;
  font-family: 'Mukta', sans-serif;
  font-size: 24px;
  border-style: solid;
  border-width: 3px;
  border-radius: 25px;
  border-color: #7acfdf;
  padding: 10px 25px 20px 10px;
  min-width: 300px;
  max-width: 550px;
}

#submitButton {
  max-width: 200px;
  margin-top: 8px;
}
