/* @media only screen and (max-width: 639px){
  #imageWrapper{
    width: calc(100% - 60px);
  }
} */

@media only screen and (min-width: 700px){
  main {
    margin-top: 0px;
  }

  .footer{
    width: 190px;
    border-radius: 0px 25px 25px 0px;
    margin-bottom: 50px;
  }

 .material-icons {
   display:none;
 }

 #meIcon{
    display:block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 125px;
    padding-right: 15px;
 }

 .main-content{
   padding-left: 190px;
   max-width: 900px;
   padding-right: 220px;
 }

 .sidefo{
   display:block;
 }

 .sidenav {
   height: 400px;
   width: 180px;
   position:fixed;
   margin-left:0px;
   text-align: left;
   margin-top: 20px;
   border-radius: 0px 25px 25px 0px;
 }

 .sidenav ul {
   font-size: 20px;
   color: black;
   padding-left:15px;
   padding-top: 5px;
   padding-bottom: 5px;
   display: block;
   padding: 0.5em 0;
 }

 .sidenav li {
   display: block;
   padding: 5px 0px 5px 20px;
   border-radius: 25px 0px 0px 25px;
   transition: background-color 0.5s;
 }

 #projectZone {
    /* display: flex;
    flex-wrap: wrap; */
    margin-left: 50px;
    max-width: 575px;
 }

 .project {
    text-align: left;
    width: 100%;
    padding-bottom: 100%;
    height: 100%;
    margin: 25px;
    display: inline-block;
 }

 .project:hover{
   box-shadow: gray 0px 0px 10px;
 }

 #imageWrapper{
   width: calc(100% - 60px);
   display: inline-block;
    padding-right: 35px;
 }

 .project img {
   position: absolute;
   transform: translate(-50%, -50%);
   /* border-radius: 50%; */
   /* object-fit: cover; */
   /* height: 375px; */
   /* width: 375px; */
 }

 .project h3{
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 #contact-form {
   margin: 0px 25px 0px 25px;
 }
}


@media only screen and (min-width: 830px){
  #project-pop {
    left:250px;
  }
  #imageWrapper{
    width: calc(50% - 60px);
    /* display: inline-block; */
  }



}

@media only screen and (min-width: 1300px){
  #imageWrapper{
    width: calc(33% - 60px);
    display: inline-block;
  }

  #projectZone {
    max-width: 100%;
  }
}
