@media only screen and (min-width: 640px){
  main {
    margin-top: 0px;
  }
 .material-icons {
   display:none;
 }

 #meIcon{
    display:block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 125px;
    padding-right: 15px;
 }

 .main-content{
   padding-left: 205px;
   max-width: 900px;
 }

 .sidenav {
   height: 100%;
   width: 180px;
   position:fixed;
   margin-left:0px;
   text-align: left;
 }

 .sidenav ul {
   font-size: 20px;
   color: black;
   padding-left:15px;
   padding-top: 5px;
   padding-bottom: 5px;
   display: block;
   padding: 0.5em 0;
 }

 .sidenav li {
   display: block;
   padding: 5px 0px 5px 20px;
   border-radius: 25px 0px 0px 25px;
   transition: background-color 0.5s;
 }

 #projectZone {
   display: flex;
  flex-wrap: wrap;
 }

 .project {
   text-align: left;
   padding-left: 25px;
 }

 .project img {
   /* border-radius: 50%; */
   object-fit: cover;
   height: 375px;
   width: 375px;
 }

 .project h3{
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%)
 }
}


@media only screen and (min-width: 830px){
  #project-pop {
    left:250px;
  }
}

/* @media only screen and (min-width: 1300px){
  .project {
    width: 32%
  }
} */
